﻿@using AspNetCoreIdentity.Extersions;

@{
    ViewData["Title"] = "Segredo!";
}
<h1>@ViewData["Title"]</h1>

<p>Segredo</p>


@{ 
    if (this.IfClaim("Produtos","Adicionar"))
    {
        <p>Você só verá isso se liver permiessão de adicionar </p>
    }
}

<div>
    @Html.ActionLink("Secret", "Secret").IfClaimShow(Context, "Produtos", "Adicionar")
</div>

<div>
    <a href="#" class="btn btn-danger" @Html.Raw(this.IfClaimShow("Produtos","Adicionr")) >Excluir</a>
</div>