﻿@model ErrorViewModel
@{
    if(Model == null)
    {
        ViewData["Title"] = "Ocorreu um erro!";
    }
    else
    {
        ViewData["Title"] = Model.Titulo;
    }

}

@{ 
    if(Model == null)
    {
        <div>
            <h2>Ops! Ocorreu um erro, mas não se precupe.</h2>
        </div>
    }
    else
    {
        <h1>@Html.Raw(Model.Titulo)</h1>
        <h2 class="text-danger">@Html.Raw(Model.Mensagem)</h2>
    }
}